.about {
  padding-top: 50px;

  @media (min-width: 768px) {
    padding-top: 140px;
  }
}

.about__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center
  }
}

.about__image {
  position: relative;
  width: 100%;
  align-self: center;
  display: flex;
  max-width: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 1, 1, .2);
  border-radius: 12px;

  @media (min-width: 768px) {
    width: 289px;
  }

  @media (min-width: 1200px) {
    width: 389px;
  }
}

.about__text {
  line-height: 1.64;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-radius: 12px;

  @media (min-width: 768px) {
    max-width: 600px;
    border: 1px solid #22A39F;
    padding: 50px 30px 50px 200px;
    margin-left: -150px;
    align-items: flex-start;
  }

  @media (min-width: 1200px) {
    max-width: 80%;
    padding: 80px 30px 80px 200px;
  }
}

.about__text p {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.about__rotate {
  display: none;
  animation-name: rotate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @media (min-width: 1200px) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -100px;
    right: -100px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
