.about-me {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 60px;
  padding-bottom: 60px
}

.about-me-link {
  text-decoration: none;
  font-weight: 400;
  color: #727878
}

.about-me-link:hover {
  text-decoration: underline
}

.about-me-content {
  display: flex;
  flex-direction: column;
  gap: 60px
}

@media (min-width: 1200px) {
  .about-me-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }
}

.about-me-image {
  align-self: center;
  width: 389px;
  height: 389px;
  border-radius: 50%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 1, 1, .2)
}

@media (max-width: 659px) {
  .about-me-image {
    display: none
  }
}

.about-me-text {
  line-height: 1.64;
  display: flex;
  flex-direction: column
}

@media (min-width: 1200px) {
  .about-me-text {
    width: 700px
  }
}

.about-me-text p {
  margin-bottom: 20px
}

.about-me-title {
  color: #22a39f;
  font-size: 54px;
  font-weight: 400;
  text-align: center
}
