.about {
  padding-top: 150px;

  @media (min-width: 768px) {
    padding-top: 180px;
  }
}

.about__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center
  }
}

.about__image {
  position: relative;
  width: 100%;
  max-width: 350px;
  align-self: center;
  display: flex;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 1, 1, .2);
  border-radius: 12px;

  @media (min-width: 768px) {
    width: 289px;
  }

  @media (min-width: 1200px) {
    width: 389px;
  }
}

.about__text {
  font-size: 16px;
  line-height: 1.64;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 100px 20px 50px 20px;
  margin-top: -60px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(74,34,137,.15);

  @media (min-width: 768px) {
    margin-top: 0;
    max-width: 600px;
    min-height: 500px;
    padding: 50px 30px 50px 200px;
    margin-left: -150px;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(74,34,137,0.15);
  }

  @media (min-width: 1200px) {
    max-width: 80%;
    padding: 80px 30px 80px 200px;
  }
}

.about__text p {
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.about__text p:first-child {
  margin-bottom: 30px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.about__rotate-element {
  display: none;
  animation-name: rotate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @media (min-width: 1200px) {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -100px;
    right: -100px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
