.footer {
  background-color: #333;
  color: #a4a4a4;
  font-size: 16px;
  font-weight: 400
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__contacts {
  display: flex;
  align-items: center;
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.footer-item {
  margin-right: 20px;

  @media (min-width: 768px) {
    margin-right: 30px;
  }

  @media (min-width: 1200px) {
    margin-right: 100px;
  }
}

.footer h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.footer-link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.footer-link:hover {
  color: #22a39f;
}
