.header {
  position: relative;
  width: 100%;
  z-index: 2;
  background-color: #22a39f;
  color: #fff;
  line-height: 1.2;
  padding: 30px 80px 30px 30px;
  overflow: hidden
}

@media (min-width: 1200px) {
  .header {
    min-height: 150px;
    padding: 0;
  }
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px
}

@media (min-width: 1200px) {
  .header-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }
}

.header-logo {
  display: flex;
  flex-direction: column
}

.header-logo p {
  font-size: 26px;
  font-weight: 300;
  color: #fff
}

.header-logo h1, .header-logo p {
  margin: 0;
  padding: 0
}

.header-logo h1 {
  font-size: 36px;
}

.header-toggle {
  position: absolute;
  background-color: transparent;
  border: 0;
  right: 30px;
  top: 30px;
  padding: 20px 0
}

@media (min-width: 1200px) {
  .header-toggle {
    display: none
  }
}

.header-toggle span {
  display: block;
  width: 40px;
  height: 3px;
  position: relative
}

.header--nav-closed .header-toggle span {
  background-color: #fff
}

.header--nav-closed .header-toggle span::after, .header--nav-closed .header-toggle span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform .4s
}

.header--nav-closed .header-toggle span::before {
  display: block;
  transform: translateY(-10px)
}

.header--nav-closed .header-toggle span::after {
  left: 0;
  transform: translateY(10px)
}

.header--nav-opened .header-toggle span {
  background-color: transparent
}

.header--nav-opened .header-toggle span::after, .header--nav-opened .header-toggle span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: transform .4s
}

.header--nav-opened .header-toggle span::before {
  display: block;
  transform: rotate(45deg)
}

.header--nav-opened .header-toggle span::after {
  transform: rotate(-45deg)
}
