.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(168.68deg,#00bdd7 0,#00d7b9 104.17%);
  color: #fff;
  line-height: 1.2;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(74,34,137,.15);
}

.header__wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  z-index: 100;
}

.header__toggle {
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: transparent;
  border: 0;
  right: 20px;
  top: 30px;
  cursor: pointer;
  z-index: 100;

  @media (min-width: 1200px) {
    display: none
  }
}

.header__toggle span {
  display: block;
  width: 20px;
  height: 2px;
  position: relative
}

.header--nav-closed .header__toggle span {
  background-color: #fff
}

.header--nav-closed .header__toggle span::after, .header--nav-closed .header__toggle span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform .4s
}

.header--nav-closed .header__toggle span::before {
  display: block;
  transform: translateY(-7px)
}

.header--nav-closed .header__toggle span::after {
  left: 0;
  transform: translateY(7px)
}

.header--nav-opened .header__toggle span {
  background-color: transparent
}

.header--nav-opened .header__toggle span::after, .header--nav-opened .header__toggle span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform .4s
}

.header--nav-opened .header__toggle span::before {
  display: block;
  transform: rotate(45deg)
}

.header--nav-opened .header__toggle span::after {
  transform: rotate(-45deg)
}

.header__progressBar {
  width: 100%;
  height: 5px;
  background: linear-gradient(168.68deg, #00D7B9 0%, #00BDD7 104.17%);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.2s ease;
}
