.main__block {
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 50px;

    @media (min-width: 768px) {
      margin-bottom: 140px;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 140px;
  }
}
