.main {
  min-width: 100%;
}

.main__block {
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 50px;

    @media (min-width: 768px) {
      margin-bottom: 140px;
    }
  }

  &--pt {
    padding-top: 60px;

    @media (min-width: 768px) {
      padding-top: 100px;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 140px;
  }
}
