.slider {
  position: relative;
  transform: translateY(7em);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;

  &--active {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider-wrapper {
  position: relative;
  height: 400px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(74,34,137,.15);

  @media (min-width: 1200px) {
    max-width: 700px;
  }
}

.slider-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr;
  transform: translateX(100%);
  transition: transform .5s ease
}

.slider-item--current {
  transform: translateX(0);
  transition: transform .5s ease
}

.slider-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 50%;
  border: 0;
  cursor: pointer;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}


.slider-btn--prev {
  left: 2%;
  background-image: url("../img/arrow-left.svg");
}

.slider-btn--next {
  right: 2%;
  background-image: url("../img/arrow-right.svg");
}

.slider-btn:disabled {
  opacity: .5
}

.slider-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top
}
