* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  width: 100%;
  padding: 0 15px;

  @media (min-width: 1200px) {
    margin: 0 auto;
    width: 1170px;
  }
}

.button {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  background: linear-gradient(168.68deg, #00D7B9 0%, #00BDD7 104.17%);
  border-radius: 4px;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  transition: background-color .5s, opacity .5s, box-shadow 0.3s ease;;

  @media (min-width: 1200px) {
    width: 300px;
    font-size: 20px;
  }

  &:hover {
    background: linear-gradient(168.68deg, #00BDD7 0%, #00D7B9 104.17%);
    box-shadow: -2px -2px 0px 2px #00BDD7, 0px 0px 0px 4px #00D7B9;
  }

  &:active {
    opacity: 30%;
    box-shadow: -1px -1px 0px 1px #00BDD7, 0px 0px 0px 2px #00D7B9;
  }
}
